<form class='page' method='POST' action='/product-edit'>
  <h1 class='page__title'>Редагування товару</h1>
  {{#with data}}
    <div class='card'>
      <div class='card__title'>Інформація про товар</div>
      <div class='card__block'>

        <div class='card__field'>
          <label type='text' class='card__label'>Назва
            товару</label>
          <input
            type='text'
            name='name'
            class='card__input'
          />
        </div>

        <div class='card__field'>
          <label
            type='text'
            class='card__label'
          >Ціна</label>
          <input
            type='number'
            name='price'
            class='card__input'
          />
        </div>

        <div class='card__field'>
          <label type='text' class='card__label'>ID</label>
          <input
            type='text'
            name='id'
            class='card__input'
          />
        </div>

      </div>

      <div class='card__field'>
        <div class='card__textarea'>Короткий опис товару</div>
        <textarea
          name='description'
          class='card__input'
          aria-label='With textarea'
        ></textarea>
        <div class='card__textareadown'>Відображується у
          картці товару</div>
      </div>

      <div class='buttons'>
        <button class='card__button blue-color'>Зберегти
          оновлення</button>
        <a
          href='/product-delete?id={{id}}'
          class='card__button red-color'
        >Видалити товар</a>

      </div>
    </div>
  {{/with}}
</form>