<main class='page'>
  <section>
    <h1 class='update__title'>
      Редагування товару
    </h1>
    <form
      method='POST'
      action='/product-edit'
      class='update__card'
    ></form>
  </section>
</main>