<main>
  Index page
</main>

{{!-- <main class='main'>

  <div class='main__content'>
    <div class='header'>

      <div class='header__block'>
        <h1 class='title'>Моя бібліотека</h1>
      </div>

      <div class='header__block'>
        <a
          href='#'
          class='add-button'
          data-text='Шукати плейліст'
        >
          <img src='/svg/search.svg' />
        </a>
        <a
          href='/spotify-choose'
          class='add-button'
          data-text='Додати плейліст'
        >
          <img src='/svg/addTrack_button.svg' />
        </a>
      </div>

    </div>

    <ul class='playlist-list'>

      <li class='playlist__card'>
        <img
          src='/img/firstPlaylist.png'
          class='playlist__image'
        />
        <div class='playlist__content'>
          <strong class='title'>Playlist-name</strong>
          <p>
            10 пісень
          </p>
        </div>
        <div class='playlist__content'>
          <a
            href='/spotify-playlist?id={{playlistId}}'
            class='add-button'
            data-text='Переглянути плейліст'
          >
            <img src='/svg/eye.svg' />
          </a>
          <a
            href='/spotify-library-delete?playlistId={{playlistId}}'
            class='add-button'
            data-text='Видалити плейліст'
          >
            <img src='/svg/delete_button.svg' />
          </a>
        </div>
      </li>

    </ul>

  </div>

</main> --}}