@use '../../lib/service.scss' as s;

@use '../../component/purchase-heading/style.scss' as purchase-heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main_card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 20px;

    &__total {
        font-size: 18px;
        font-weight: bolder;
    }
}

.span-bold {
    font-weight: bolder;
}

.string {
    display: flex;
    gap: 12px;
}