@use '../../lib/service.scss' as s;

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    &__label {
        font-size: 14px;
    }

    &__input {
        border: 1px solid rgb(188, 188, 188);
        padding: s.space(2);
    }
}